{{- $page := . -}}
{{- $disableImageOptimization := site.Store.Get "disableImageOptimization" -}}
{{- $featured := "" -}}
{{- $featuredURL := "" -}}
{{- with $page.Params.featureimage -}}
  {{- if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") -}}
    {{- if site.Params.hotlinkFeatureImage -}}
      {{- $featuredURL = . -}}
    {{- else -}}
      {{- $featured = resources.GetRemote . -}}
    {{- end -}}
  {{- else -}}
    {{- $featured = resources.Get . -}}
  {{- end -}}
{{- end -}}
{{- if not (or $featured $featuredURL) -}}
  {{- $images := $page.Resources.ByType "image" -}}
  {{- range slice "*feature*" "*cover*" "*thumbnail*" -}}
    {{- if not $featured -}}{{- $featured = $images.GetMatch . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- if not (or $featured $featuredURL) -}}
  {{- $default := site.Store.Get "defaultFeaturedImage" -}}
  {{- if $default.url -}}
    {{- $featuredURL = $default.url -}}
  {{- else if $default.obj -}}
    {{- $featured = $default.obj -}}
  {{- end -}}
{{- end -}}
{{- if not $featuredURL -}}
  {{- with $featured -}}
    {{- $featuredURL = .RelPermalink -}}
    {{- if not (or $disableImageOptimization (eq .MediaType.SubType "svg")) -}}
      {{- $featuredURL = (.Resize "600x").RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $featuredURL -}}
